
.list-group-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 50px; /* Increase the padding to make the rows bigger */
    border-radius: 5px;
  }

  


