body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
}


.profile-grid {
    display: grid;
    grid-template-columns: 40vw; 
    font-size: 20pt;
}


.profile-picture {
    position: relative;
    right: -5%;
    width: 50%; 
}

.col-6 {
    display: flex;
    height: 100%;
    width: 100%; 
    justify-items: center;
}

.description {
    display: flex;
    max-width: 80vw; 
    overflow-wrap: break-word; 
}


#meals-go-here {
    width: 100%;
    overflow: hidden; 
}

.follow-button {
    background-color: green;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

.follow-button:hover {
    background-color: green;
}

.left {
    grid-row: 1;
    grid-column: 1;
}

.right {
    grid-row: 1;
    grid-column: 2;
    float: right; 
}

#editButton {
    background-color: green;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

#editButton:hover {
    background-color: green;
}



.meal-image-container {
    border-radius: 10px; 
    overflow: hidden;
  }
  
  .meal-image {
    border-radius: 10px; 
    border: 2px solid #FF6347;
  }
  
  .meal-details-container {
    border: 1px solid #FF6347;
    border-radius: 10px; 
    background-color: #ffeeba;
    
  }

  