body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Adjustments to fit within the viewport */
.profile-grid {
    display: grid;
    grid-template-columns: 40vw; /* Adjust width as needed */
    font-size: 20pt;
}


.profile-picture {
    position: relative;
    right: -5%;
    width: 50%; /* Adjust width as needed */
}

.col-6 {
    display: flex;
    height: 100%;
    width: 100%; /* Fill the parent container */
    justify-items: center;
}

.description {
    display: flex;
    max-width: 80vw; /* Adjust width as needed */
    overflow-wrap: break-word; /* Wrap long content */
}

/* Ensure elements fit within the viewport width */
#meals-go-here {
    width: 100%;
    overflow: hidden; /* Prevent content from causing scrolling */
}

.follow-button {
    background-color: green;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

.follow-button:hover {
    background-color: green;
}

.left {
    grid-row: 1;
    grid-column: 1;
}

.right {
    grid-row: 1;
    grid-column: 2;
    float: right; /* Float the element to the right */
}

#editButton {
    background-color: green;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* Hover effect for the edit button */
#editButton:hover {
    background-color: green;
}



.meal-image-container {
    border-radius: 10px; 
    overflow: hidden;
  }
  
  .meal-image {
    border-radius: 10px; 
    border: 2px solid #FF6347;
  }
  
  .meal-details-container {
    border: 1px solid #FF6347;
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
    background-color: #ffeeba;
    
  }

  