#mealTemplate {
    width: 50%;
}

.card {
    text-align: center;
    width: 50%;
    margin-left: 24%;
}

.card ul {
    list-style-type: none;
}

body {
    color: #3A833A;
}

#noBookmarksMessage {
    display: flex;
    height: 50vh;
    margin-top: -56px;
    text-align: center;
    color: #3A833A;
    padding-top: 70%;
    background-color: #FFFACD;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: default;
}

#noBookmarkButton {
    background-color: #3A833A;
    margin-top: 2%;
    color: #fff;
}

#noBookmarkButton:hover {
    background-color: #fff !important; 
}

#noMealsMessage {
    display: flex;
    height: 50vh;
    margin-top: -56px;
    text-align: center;
    color: #3A833A;
    padding-top: 50%;
    background-color: #FFFACD;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 12px 13.4px;
    text-decoration: none;
    display: block;
    color: #333;
    font-weight: bold;
}

