body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    overflow-x: hidden;
    margin-top: 7vh;
    margin-bottom: 7vh;
    background-color: #FFFACD;
}

.navbar {
    background-color: #FF7F50;
    overflow: hidden;
    color: black;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-toggler-icon {
    background-color: white;
}
.navbar-toggler {
    background-color: white;
}

.bg {
    background-color: #FF7F50; 
}

.icon {
    color: black;
}

.responsive {
    width: 60%;
    height: auto;
  }

.container {
    padding-top: 7%;
    padding-bottom: 7%;
}

.responsive {
    width: 60%;
    height: auto;
  }

.bookmark {
    float: right;
}

.edit-button {
    background-color: green;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    width: 75%;
    float:bottom;
}

.follow-button:hover {
    background-color: green;
}

.image {
    height: 100%;
    width: 100%;
}

/* Example CSS for styling the profile picture container and image */
.profile-picture-container {
    width: 200px; /* Set the width of the container */
    height: 200px; /* Set the height of the container */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflow to ensure the circular shape */
    border: 2px solid #ccc; /* Add a border for aesthetics */
  }
  
  .profile-picture {
    max-width: 200px; /* Ensure the image fills its container */
    max-height: 200px; /* Maintain aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
  }

  .gallery {
    display: none; /* Initially hide the gallery */
    flex-wrap: wrap; /* Allow images to wrap */
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }

  .gallery img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
  }

  .post-info {
    font-size: .5em;
  }

  #image-container {
    width: 50vw;
    height: auto;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }